fastapi
uvicorn
requests
beautifulsoup4
markdown
pytz
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
feedparser
google-generativeai
google-api-core[grpc,grpcgcp]
functions-framework